<template>
  <section class="about">
    <b-container >
      
      <div class="row row-eq-height">
        <div class="col-lg-9 text-left pmy col-10 col-sm-12 offset-1 offset-sm-0">
          <p>Техношоу пройдет в формате экспо, выставки проектов. У всех гостей будет возможность  пообщаться с командами студентов-разработчиков, задать вопросы, а также услышать мнения специалистов и экспертов, которые  поделятся опытом и знаниями, дадут фидбек по результатам проектов. </p>
          <p>В рамках шоу будет действовать площадка прямых презентаций, где представляются проекты по самым разным направлениям - от образования до баллистических полетов, а также гостиные - выставочные зоны каждого проекта для неформального свободного профессионального общения с создателями и их научными руководителями. </p>
        </div>
        <div class="col-md-3 back_cover pmy d-none d-lg-flex">
          
        </div>
        
      </div>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "about",
  data() {
    return {
   
    };
  },
  components: {},
  mounted() {
      
  },
  methods: {

  },
  
};
</script>
<style scoped>
.about
{
  background: #363290;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px 0;

    padding: 0;
}
.back_cover
{
  background-image: url(../assets/kubik.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
.action
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  background-color: #C5DB37;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 20px;
}
img{
  height:290px;
  margin: 0 auto;
  transition: 0.5s all linear;
  margin-top: 5px;
}
img.start
{
  margin-top: -5px;
}
.pmy
{
  padding: 50px 0;
}
</style>