<template>
  <section class="aim"  style="padding-bottom:40px; padding-top:60px">
    <!-- <b-container >
      <b-row>
        <b-col lg=6 class="">
          <div class="name">ПРОЕКТНОЕ ОБУЧЕНИЕ</div>
        </b-col>
        <b-col lg=6 class="mt-2 mt-md-0">
          <p>Проектное обучение подразумевает выполнение курсовых работ в формате создания технического проекта. Проект – это некая ограниченная по времени активность, нацеленная на получение результата. У него всегда есть конкретные цели и задачи, которые ставятся заказчиками или определяются самими студентами. Также участники имеют четкие роли и тщательно прописанное техническое задание. По завершению проекта его результат защищается, а заказчику передается оформленная документация, соответствующую принятым нормам и правилам.</p>
        </b-col>
        
      </b-row>
    </b-container>
    <div class="line"></div> -->
    <b-container >
      <b-row>
        <b-col lg=6 class="">
          <div class="name">КОНЕЧНАЯ<br>ЦЕЛЬ</div>
        </b-col>
        <b-col lg=6 class="mt-2 mt-md-0">
          <p>Конечная цель – это всегда продукт, если это программно-аппаратный проект, или результаты научных наблюдений и экспериментов, дающие возможность для дальнейшего изучения и анализа, как в случае с исследовательскими проектами. </p>
        </b-col>
        
      </b-row>
    </b-container>
    <div class="line"></div>
    <b-container >
      <b-row>
        <b-col lg=6 class="">
          <div class="name">ОТЧЕТЫ</div>
        </b-col>
        <b-col lg=6 class="mt-2 mt-md-0">
          <p>Работая над проектами в течение всего курса, студенты сдают несколько промежуточных отчетов, в ходе которых они получают комментарии и рекомендации от преподавателей и специалистов.</p>
        </b-col>
        
      </b-row>
    </b-container>
    <div class="line"></div>
    <b-container >
      <b-row>
        <b-col lg=6 class="">
          <div class="name">ЗАЩИТА</div>
        </b-col>
        <b-col lg=6 class="mt-2 mt-md-0">
          <p>В конце года проходит защита проектов, по итогу которой лучшие команды получают возможность представить свои разработки на большую аудиторию.</p>
        </b-col>
        
      </b-row>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "aim",
  data() {
    return {

    };
  },
  components: {},
  mounted() {
      
  },
  methods: {

  },
  
};
</script>
<style scoped>
.aim{
  box-shadow:  0px 15px 14px #1D1164;
  padding-bottom: 40px;
  background: #3A3699;
  position: relative;
  z-index: 9;
}
.name
{
  font-family: 'Russo One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1;
  /* or 100% */


  color: rgba(255, 255, 255, 0.64);
}
p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
  color: #FFFFFF;
}
.line{
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background-color: white;
}
</style>