<template>
  <section class="cover">
    <b-container fluid class="d-none d-lg-flex">
      <div class="row row-eq-height">
        <div class="col-lg-6 back_cover pmy ">
          <img src="@/assets/logo.png" alt="" :class="{'start': logo_an}">
        </div>
        <div class="col-10 offset-1 offset-lg-0 col-lg-5 text-left pmy info ">
          <div class="date">31.05</div>
          <div class="time" style="margin-top:-5px;">11:30 - 16:00</div>
          <p>Техношоу МИЭМ – выставка студенческих проектов, на которой будут представлены наиболее яркие, законченные и интересные работы – как с точки зрения науки, так и с точки зрения практического применения. </p>
          <p>Выставка - уникальное погружение в мир инноваций и научного прогресса, где возможно испытать цифровую реальность на себе. Мы приглашаем всех, кто неравнодушен к технологиям будущего и хочет опередить время.</p>
          <div class="action" @click="go">Регистрация</div>
        </div>
      </div>
    </b-container>
    <b-container class="d-flex d-lg-none">
      <div class="row row-eq-height">
        <div class="col-10 offset-1 col-sm-12 offset-sm-0 text-left pmy info ">
          <div class="date">31.05</div>
          <div class="time" style="margin-top:-5px;">11:30 - 16:00</div>
          <p>Техношоу МИЭМ – выставка студенческих проектов, на которой будут представлены наиболее яркие, законченные и интересные работы – как с точки зрения науки, так и с точки зрения практического применения. </p>
          <p>Выставка - уникальное погружение в мир инноваций и научного прогресса, где возможно испытать цифровую реальность на себе. Мы приглашаем всех, кто неравнодушен к технологиям будущего и хочет опередить время.</p>
          <div class="action" @click="go">Регистрация</div>
        </div>
      </div>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "cover",
  data() {
    return {
      logo_an: true
    };
  },
  components: {},
  mounted() {
      setInterval(
      function() {
        this.logo_an = !this.logo_an
      }.bind(this),
      500
    );
  },
  methods: {
    go()
    {
      window.open('https://docs.google.com/forms/d/e/1FAIpQLSdaCXQ_IL2ksYmb3tvNT4y_b2luwh3xSrxmhPUgmnUMmzN-LA/viewform', "_blank");
    }
  },
  
};
</script>
<style scoped>
.cover
{
  background: #77767E;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px 0;
  min-height: 400px;
  padding: 0;
  margin-top: 80px;;
}
.back_cover
{
  background-image: url(../assets/cover.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.date, .time, p{
  color: white;
}

.date{

  font-weight: bold;
  /* text-shadow: 4px 2px 0px #363290; */
  font-size: 64px;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 4px 2px 0px #363290;
}
.time{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 4px 2px 0px #363290;
  line-height: 49px;
  margin-bottom: 10px;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.action
{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  background-color: #C5DB37;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.action:hover{
  background-color: #a5b53f;
}
img{
  height:290px;
  margin: 0 auto;
  transition: 0.5s all ease;
  margin-top: 5px;
}

img.start
{
  margin-top: -5px;
}
.pmy
{
  padding: 50px 0;
}
</style> 