<template>
  <section class="features mt-0 mt-md-5">
    <b-container >
      
      <div class="row row-eq-height features text-left">
       <div class="col-lg-3 col-md-6 col-sm-12 mt-5 mt-lg-0">
         <div class="icon"><img src="@/assets/1.svg" alt=""></div>
         <div class="title">ТЕХНОШОУ</div>
         <div class="desc">Главный стрим, где будут представлены лучшие программно-аппаратные проекты МИЭМ. Команды последовательно расскажут о результатах проектов - конечных продуктах, принципах их работы и перспективах использования. Здесь же выступят представители руководства НИУ ВШЭ, МИЭМ, эксперты проектных областей.</div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 mt-5 mt-lg-0">
         <div class="icon"><img src="@/assets/2.svg" alt=""></div>
         <div class="title">ПРОЕКТНЫЙ ШОУРУМ</div>
         <div class="desc">Павильоны выставки и гостиные проектов будут открыты на протяжении всего мероприятия. В период с 13:30 до 15:00 будет пауза в главной трансляции, чтобы все, кто заинтересовался конкретными проектами, могли больше узнать о них, пройти в гостиные и пообщаться с командами, узнать из первых уст об этапах разработки и перспективах развития, увидеть дополнительные демонстрационные материалы.</div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 mt-5 mt-lg-0">
         <div class="icon"><img src="@/assets/3.svg" alt=""></div>
         <div class="title">RESEARCH SHOW</div>
         <div class="desc">Еще больше о науке и новых знаниях. Лучшие исследовательские проекты сезона будут представлены их создателями. Это работы с высоким потенциалом развития, связанные с реализацией квантовых алгоритмов, баллистическими перелетами, а также изучение неинвазивного способа контроля состояния организма по уровню выдыхаемого водорода. </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 mt-5 mt-lg-0">
         <div class="icon"><img src="@/assets/4.svg" alt=""></div>
         <div class="title">РЕКТОРСКИЙ КАРАНТИННЫЙ ОБХОД</div>
         <div class="desc">Успейте застать ректора в одном из павильонов выставки. Вместе с другими представителями руководства и экспертами они проведут свой "карантинный обход", посетят гостиные студенческих проектов и осмотрят результаты. </div>
       </div>
        
      </div>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "features",
  data() {
    return {
     
    };
  },
  components: {},
  mounted() {
      
  },
  methods: {

  },
  
};
</script>
<style scoped>

.features .desc{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.features .title
{
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #363290;
  text-align: left;
  margin: 0 0 10px 0 !important;
}
.icon img{
  width: 97px;
  margin-bottom: 20px;
}
</style>