<template>
  <div class="footer">
    <div class="triangle"></div>
    <b-container>
    <img src="@/assets/logo.png" alt="" @click="scroll">
    
    </b-container>
  </div>
</template>
<script>

export default {
  name: "footers",
  data() {
    return {

    };
  },
  components: {},
  mounted() {
      
  },
  methods: {
    scroll()
    {
      window.scrollTo(0,0);
    }
  },
  
};
</script>
<style scoped>

.footer{
  background: #363290;
  padding-bottom: 40px;
}
img{
  width: 300px;
  margin: 0 auto 0;
  padding-top: 40px;
  display: table;
}

.triangle
{
  border-top: 40px solid #534FA7;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    bottom: -40px;
}
</style>