<template>
  <header>
    <Slide
      :isOpen="slideIsOpen"
      @openMenu="openSlide"
      @closeMenu="closeSlide"
      :burgerIcon="false"
      right
      Animation="push"
      class="mobile_menu"
    >
        <scrollactive class="" active-class="active">
   
              <li><a href="#programs" class="scrollactive-item" >Программа</a></li>
              <li><a href="#maps" class="scrollactive-item" >Карта</a></li>
              <li> <a href="#aim" class="scrollactive-item" >Проектная деятельность МИЭМ</a></li>
              <li><a href="#speakers" class="scrollactive-item" >Спикеры</a></li>
              <li><a href="#partners" class="scrollactive-item" >Партнеры</a></li>
              <li><a href="#contacts" class="scrollactive-item" >Контакты</a></li>
            
        </scrollactive>

    </Slide>
    <b-container >
      <b-row class="d-none d-lg-flex">
        <b-col cols=1>
          <img src="@/assets/logo.png" alt="" @click="top">
        </b-col>
        <b-col cols=9 class="">
          <scrollactive class="my-nav" active-class="active">
            <ul>
                <a href="#programs" class="scrollactive-item" >Программа</a>
                <a href="#maps" class="scrollactive-item" >Карта</a>
                <a href="#aim" class="scrollactive-item" >Проектная деятельность МИЭМ</a>
                <a href="#speakers" class="scrollactive-item" >Спикеры</a>
                <a href="#partners" class="scrollactive-item" >Партнеры</a>
                <a href="#contacts" class="scrollactive-item" >Контакты</a>
              
            </ul>
          </scrollactive>
        </b-col>
        <b-col cols=2>
          <div class="btn_my" @click="go">РЕГИСТРАЦИЯ</div>
        </b-col>
      </b-row>
      <b-row class="d-flex d-lg-none">
        <b-col cols=3 class="logo_sm">
          <img src="@/assets/logo.png" alt="">
        </b-col>
        <b-col cols=9 class="menu">
          <i class="las la-bars" @click.stop.prevent="toggleSlide()"></i>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>
<script>
import { Slide } from 'vue-burger-menu'
export default {
  name: "Header",
  data() {
    return {
      slideIsOpen: false,
    };
  },
  components: {
      Slide
  },
  mounted() {

  },
  methods: {
    go()
    {
      window.open('https://docs.google.com/forms/d/e/1FAIpQLSdaCXQ_IL2ksYmb3tvNT4y_b2luwh3xSrxmhPUgmnUMmzN-LA/viewform', "_blank");
    },
    top()
    {
      window.scrollTo(0,0);
    },
    openSlide() {
      this.slideIsOpen = true;
    },
    closeSlide() {
      this.slideIsOpen = false;
    },
    toggleSlide() {
      
      this.slideIsOpen = !this.slideIsOpen;

    },
  },
  
};
</script>
<style scoped>
.mobile_menu li{
  color: white;
}
header{
    width: 100%;
    height: 85px;
    background: #363290;
    -webkit-box-shadow: 0px 4px 4px  rgba(54,50,144,1);
    -moz-box-shadow: 0px 4px 4px  rgba(54,50,144,1);
    box-shadow: 0px 4px 4px  rgba(54,50,144,1);
    z-index: 999;
    position: fixed;
}
.logo
{
  font-family: 'Russo One', sans-serif;
}
.my-nav{
  display:table;
  width: 100%;
}
.my-nav ul
{
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 38px;
}
.my-nav ul a {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: 'Russo One', sans-serif;
  color: white;
  flex: none;
  align-self: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all ease;
}
ul a:hover{
  color:#C5DB37
}
 ul a.active
{
  color:#C5DB37
}
.btn_my
{
  margin-top: 25px;
  font-size: 12px;
  font-family: 'Russo One', sans-serif;
  color: #363290;
  background-color: #C5DB37;
  padding: 13px 18px 12px;
  border-radius: 20px;
  line-height: 1;
  width: max-content;
  cursor: pointer;
  transition: 0.5s;
}
.btn_my:hover{
  background-color: #a5b53f;
}
header img{
  width: 70px !important;
  margin-top: 22px;
  cursor: pointer;
}
.logo_sm img
{
  width: 70px;
}
.menu
{
  color:white;
  font-size: 36px;
  margin-top: 26px;
  
}
.menu i{
  float: right;
  cursor: pointer;
}

</style>