<template>
  <section class="maps" id="maps" style="">
    <b-container  class="d-none d-lg-block">
    
    </b-container>
    <b-container >
      <b-row>
        <b-col class="d-none d-lg-flex col-lg-6 my-auto">
          <div class="map" >
            <img src="@/assets/map/1.png" alt="" class="img1 img" :class="{'img1u':up1||pageNo==0}" >
            <img src="@/assets/map/2.png" alt="" class="img2 img" :class="{'img2u':up2||pageNo==1}">
            <img src="@/assets/map/3.png" alt="" class="img3 img" :class="{'img3u':up3||pageNo==2}">
            <img src="@/assets/map/4.png" alt="" class="img4 img" :class="{'img4u':up4||pageNo==3}">
            <img src="@/assets/map/5.png" alt="" class="img5 img" :class="{'img5u':up5||pageNo==4}">
            <img src="@/assets/map/6.png" alt="" class="img6 img" :class="{'img6u':up6||pageNo==5}">
            <img src="@/assets/map/7.png" alt="" class="img7 img" :class="{'img7u':up7||pageNo==6}">
            <div class="cl1" @mouseover="mouseOver(1)" @mouseleave="mouseLeave(1)" @click="act(1)"></div>
            <div class="cl2" @mouseover="mouseOver(2)" @mouseleave="mouseLeave(2)" @click="act(2)"></div>
            <div class="cl3" @mouseover="mouseOver(3)" @mouseleave="mouseLeave(3)" @click="act(3)"></div>
            <div class="cl4" @mouseover="mouseOver(4)" @mouseleave="mouseLeave(4)" @click="act(4)"></div>
            <div class="cl5" @mouseover="mouseOver(5)" @mouseleave="mouseLeave(5)" @click="act(5)"></div>
            <div class="cl6" @mouseover="mouseOver(6)" @mouseleave="mouseLeave(6)" @click="act(6)"></div>
            <div class="cl7" @mouseover="mouseOver(7)" @mouseleave="mouseLeave(7)" @click="act(7)"></div>

          </div>
        </b-col >
        <b-col lg=6>
          <carousel ref="carousel" @pageChange="pageChanged" :touchDrag="true" :adjustableHeight="true" :navigateTo="pageNo" @page-change='handle_page' :scrollPerPage='true' :perPage=1  :navigationEnabled='true' :paginationEnabled='false' navigationNextLabel='<i class="las la-chevron-right" style="font-size:24px; color:white"></i>' navigationPrevLabel='<i class="las la-chevron-left" style="font-size:24px; color:white"></i>'>
            
            <slide>
              
              <div class="title">ПАВИЛЬОН №1<br>Цифровой "МИЭМ"</div>
              <img src="@/assets/map/1.png" class="d-block d-md-none d-lg-none mimg" >
              <div class="description">Здесь представлены проекты, нацеленные на развитие, усовершенствование единой цифровой экосистемы МИЭМ.  Цель проектов - создание удобной среды как в самом институте для учебы и работы (навигация по зданию, единая комплексная система видеотрансляций мероприятий и многие другие), так и формирование единой цифровой среды студентов и преподавателей в сети (грейдеры, сервисы поддержки проектной работы, трекер-бот)</div>
              <div class="data">
                <v-collapse-group :onlyOneActive="true">
                    <v-collapse-wrapper v-for="(item, index) in data1" :key="index+'1'"> 
                      <div class="header" :class="{'active':open1 == (index+1)}" @click="open(1,index+1)" v-collapse-toggle>
                            {{item.name}}
                            
                        </div>
                        <div class="my-content" v-collapse-content>
                            <div class="leader">Руководитель проекта: {{item.head}}</div>
                            <div class="info" v-html="item.text"></div>
                            <div class="btn_my" @click="go(item.link)">Страница проекта</div>
                        </div>
                    </v-collapse-wrapper>
                    
                </v-collapse-group>
              </div>
            </slide>
            <slide>
              <div class="title">ПАВИЛЬОН №2<br>Образовательные решения</div>
              <img src="@/assets/map/2.png" class="d-block d-md-none d-lg-none mimg" >
              <div class="description">Проекты, меняющие представления об образовании. Практика, живой интерес и роботизация - вот драйверы инновационного развития в обучении. Разработки могут быть внедрены на разных этапах получения знаний и будут актуальны для аудиторий разного возраста.</div>
              <div class="data">
                <v-collapse-group :onlyOneActive="true">
                    <v-collapse-wrapper v-for="(item, index) in data2" :key="index+'2'"> 
                      <div class="header" :class="{'active':open2 == (index+1)}" @click="open(2,index+1)" v-collapse-toggle>
                            {{item.name}}
                            
                        </div>
                        <div class="my-content" v-collapse-content>
                            <div class="leader">Руководитель проекта: {{item.head}}</div>
                            <div class="info" v-html="item.text"></div>
                            <div class="btn_my" @click="go(item.link)">Страница проекта</div>
                        </div>
                    </v-collapse-wrapper>
                    
                </v-collapse-group>
              </div>
            </slide>
            <slide>
              <div class="title">ПАВИЛЬОН №3<br>Умная инфраструктура и робототехника</div>
              <img src="@/assets/map/3.png" class="d-block d-md-none d-lg-none mimg" >
              <div class="description">Интернет вещей с его «умными» устройствами и решения, которые расширяют наши возможности в обыденной жизни, повышают комфорт и удобство ежедневных действий.</div>
              <div class="data">
                <v-collapse-group :onlyOneActive="true">
                    <v-collapse-wrapper v-for="(item, index) in data3" :key="index+'3'"> 
                      <div class="header" :class="{'active':open3 == (index+1)}" @click="open(3,index+1)" v-collapse-toggle>
                            {{item.name}}
                        </div>
                        <div class="my-content" v-collapse-content>
                            <div class="leader">Руководитель проекта: {{item.head}}</div>
                            <div class="info" v-html="item.text"></div>
                            <div class="btn_my" @click="go(item.link)">Страница проекта</div>
                        </div>
                    </v-collapse-wrapper>
                    
                </v-collapse-group>
              </div>
            </slide>
            <slide>
              <div class="title">ПАВИЛЬОН №4<br>Конференц-Зал</div>
              <img src="@/assets/map/4.png" class="d-block d-md-none d-lg-none mimg" >
              <div class="description">Основные события Техношоу пройдут прямо здесь. Это пункт сбора всех участников, место проведения техно- и research-стримов, центр голосование участников и площадка выступления ректора. Такое нельзя пропустить!</div>
              <div class="data">
                <v-collapse-group :onlyOneActive="true">
                    <v-collapse-wrapper v-for="(item, index) in data4" :key="index+'4'"> 
                      <div class="header" :class="{'active':open4 == (index+1)}" @click="open(4,index+1)" v-collapse-toggle>
                            {{item.name}}
                        </div>
                        <div class="my-content" v-collapse-content>
                            <div class="leader">Руководитель проекта: {{item.head}}</div>
                            <div class="info" v-html="item.text"></div>
                            <div class="btn_my" @click="go(item.link)">Страница проекта</div>
                        </div>
                    </v-collapse-wrapper>
                    
                </v-collapse-group>
              </div>
            </slide>
            <slide>
              <div class="title">ПАВИЛЬОН №5<br>Здоровье и науки о человеке</div>
              <img src="@/assets/map/5.png" class="d-block d-md-none d-lg-none mimg" >
              <div class="description">Инновационные разработки, которые помогу отслеживать показатели организма, чтобы вовремя идентифицировать нарушения, а также решать уже существующие проблемы со здоровьем более безопасными и эффективными способами. </div>
              <div class="data">
                <v-collapse-group :onlyOneActive="true">
                    <v-collapse-wrapper v-for="(item, index) in data5" :key="index+'5'"> 
                      <div class="header" :class="{'active':open5 == (index+1)}" @click="open(5,index+1)" v-collapse-toggle>
                            {{item.name}}
                        </div>
                        <div class="my-content" v-collapse-content>
                            <div class="leader">Руководитель проекта: {{item.head}}</div>
                            <div class="info" v-html="item.text"></div>
                            <div class="btn_my" @click="go(item.link)">Страница проекта</div>
                        </div>
                    </v-collapse-wrapper>
                    
                </v-collapse-group>
              </div>
            </slide>
            <slide>
              <div class="title">ПАВИЛЬОН №6<br>Интеллектуальные системы и цифровые сервисы</div>
              <img src="@/assets/map/6.png" class="d-block d-md-none d-lg-none mimg" >
              <div class="description">Решения задач для бизнеса и человека с помощью комплексных информационных систем, новые приложения и модели, работающие на основе машинного обучения</div>
              <div class="data">
                <v-collapse-group :onlyOneActive="true">
                    <v-collapse-wrapper v-for="(item, index) in data6" :key="index+'6'"> 
                      <div class="header" :class="{'active':open6 == (index+1)}" @click="open(6,index+1)" v-collapse-toggle>
                            {{item.name}}
                        </div>
                        <div class="my-content" v-collapse-content>
                            <div class="leader">Руководитель проекта: {{item.head}}</div>
                            <div class="info" v-html="item.text"></div>
                            <div class="btn_my" @click="go(item.link)">Страница проекта</div>
                        </div>
                    </v-collapse-wrapper>
                    
                </v-collapse-group>
              </div>
            </slide>
            
            <slide>
              <div class="title">ПАВИЛЬОН №7<br>Разное</div>
              <img src="@/assets/map/7.png" class="d-block d-md-none d-lg-none mimg" >
              <div class="description">Проекты из разных классов, но не менее полезные и нужные обществу.</div>
              <div class="data">
                <v-collapse-group :onlyOneActive="true">
                    <v-collapse-wrapper v-for="(item, index) in data7" :key="index+'7'"> 
                      <div class="header" :class="{'active':open7 == (index+1)}" @click="open(7,index+1)" v-collapse-toggle>
                            {{item.name}}
                        </div>
                        <div class="my-content" v-collapse-content>
                            <div class="leader">Руководитель проекта: {{item.head}}</div>
                            <div class="info" v-html="item.text"></div>
                            <div class="btn_my" @click="go(item.link)">Страница проекта</div>
                        </div>
                    </v-collapse-wrapper>
                    
                </v-collapse-group>
              </div>
            </slide>
          </carousel>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "maps",
  data() {
    return {
      pageNo: 3,
      open1:0,
      open2:0,
      open3:0,
      open4:0,
      open7:0,
      open5:0,
      open6:0, 
      up1:false,
      up2:false,
      up3:false,
      up4:false,
      up5:false,
      up6:false, 
      up7:false, 
      data1: [{'name':'Автоматизированный анализ состояния проектов в Trello', 'link':'https://cabinet.miem.hse.ru/#/project/18/', 'head':'Королев Денис Александрович', 'text': '<p>Trello - очень удобный инструмент для ведения проектной работы. Однако, для того чтобы использовать его для нужд университета, необходимо стандартизировать и регламентировать работу с ним, а также собирать подробную статистику, которая будет объективно показывать ход работ в проекте. Также необходимо автоматизировать и максимально упростить сбор отчетности по проектам - данная задача решается с помощью чат-бота, который задаёт вопросы всем участникам проекта.</p><p>В результате станет доступным учет проектной деятельности МИЭМ в Trello, сдача отчетности через общение с чат-ботом, а собранная информация будет отправляться в Личный кабинет.</p> '},{'name':'Личный кабинет участника проектной деятельности', 'link':'https://cabinet.miem.hse.ru/#/project/27/', 'head':'Башун Владимир Владимирович', 'text': '<p>Разрабатываемое программное обеспечение должно реализует отдельные сервисы цифровой образовательной среды МИЭМ ВШЭ, такие как:</p><ul><li>Доступ к различным ресурсам через единый вход.</li><li>Доступ к системе со стационарных и мобильных устройств.</li><li>Удобный и понятный интерфейс.</li><li>Обеспечение безопасности хранимых и передаваемых данных.</li><li>Интеграция различных информационных ресурсов.</li></ul><p>ПО предполагается применять при обучении студентов в проектах в НИУ ВШЭ.</p>'},{'name':'AR-навигация внутри здания', 'link':'https://cabinet.miem.hse.ru/#/project/45/', 'head':'Ролич Алексей Юрьевич', 'text': '<p>Задачи локального позиционирования в помещениях и навигации в дополненной реальности являются приоритетными направлениями развития сквозных цифровых технологий.</p><p>Цель данного проекта - разработка приложения для смартфонов для навигации в дополненной реальности внутри здания МИЭМ. Приложение обладает функциями определения точного местоположения и ориентации смартфона пользователя внутри цифровой копии здания МИЭМ, построения маршрута из местоположения пользователя в нужную аудиторию МИЭМ, отслеживания позиции смартфона в здании в реальном времени, сопровождения пользователя в здании МИЭМ с помощью навигационных AR-указателей. Помимо этого, особенностью приложения является идентификация табличек аудиторий по их изображению и вывод расписания занятий в этой аудитории. Также приложение обладает возможностями визуализации 3D контента, в том числе смоделированных участниками проекта 3D моделей, таких как логотипы МИЭМ, НИУ ВШЭ, символа НИУ ВШЭ - Вороны и др.</p> '},{'name':'Видеосервисы МИЭМ NVR', 'link':'https://cabinet.miem.hse.ru/#/project/19/', 'head':'Королев Денис Александрович', 'text': '<p>Цель проекта - решение задач организаций -- от видеофиксации подлежащих записи событий (защиты, экзамены и т.д.) и подсчета количества присуствтующих в зале до создания видеозаписей лекций с автоматической публикацией в LMS учебного заведения.</p><p>Это сервис для автоматической многокамерной видеофиксации событий в оборудованных помещениях, он является основой для подключения дополнительных модулей аналитики видеозаписей и потоков, трансляции и управления съёмочным оборудованием.</p><p>ЭЭто экономичное, легко тиражируемое решение для учебных заведений и площадок, где регулярно проводятся мероприятия, которые нужно снимать и транслировать в соцсети, а открытая архитектура позволяет тесно интегрироваться с ресурсами организации -- расписанием занятий, базами пользователей и тд.</p>'},{'name':'Мобильный управлятор PTZ', 'link':'https://cabinet.miem.hse.ru/#/project/26/', 'head':'Королев Денис Александрович', 'text': '<p>Android-приложение для управления видеокамерами в залах, получения изображения с камер и запрос записи из облачного видеорекордера.</p><p>С помощью приложения будут реализованы:</p><ol><li>Управление видеокамерами в оснащенных помещениях МИЭМ.</li>Доступ к управлению -- из внешней сети. То есть,построение клиент-серверной системы с сервером, транслирующим команды с мобильного приложения для камер в сети МИЭМ.<li>Показ потока с выбранной камеры в приложении.</li>Управление положением камеры и переход по заранее заданным позициям -- одним движением. Приложение  применимо для работы в прямом эфире оператором.<li>Получение списка камер из Google Suite Resourses.</li><li>Управление трансляцией (проект 19115) и запрашивание записи в Облачном видеорекордере (проект 19104).</li></ol>'},{'name':'Эмоции на лекциях', 'link':'https://cabinet.miem.hse.ru/#/project/28/', 'head':'Королев Денис Александрович', 'text': '<p>Потоки с камер используются для анализа эмоций, вовлечённости аудитории и подсчета числа слушателей в зале. Результаты анализа отправляются в базу данных (для цифрового следа) и в виде динамического графика эмоций -- в склейку, которую создаёт по итогам записи облачный видеорекордер.</p><p>В дальнейшем сервис формирует таблицы с сырыми данными для последующего анализа, а также создаёт изображение для наложения в компоновку "преподаватель+презентация", формируемую Облачным видеорекордером. Сервис может использоваться для работы в прямом эфире и в перспективе расширяться дополнительными возможностями (распознавание лиц и т.д.).</p>'},{'name':'Аппаратная телецентра МИЭМ', 'link':'https://cabinet.miem.hse.ru/#/project/17/', 'head':'Королев Денис Александрович', 'text': '<p>Команда создает специализированный комплект оборудования для телецентра МИЭМ, чтобы помочь его съемочной группе удобнее и эффективнее проводить трансляции университетских мероприятий, используя установленные в аудиториях камеры видеонаблюдения. Оборудование представляет собой комплект рабочих мест для каждого работника съемочной бригады медиацентра. А главной целью является создание тиражируемой аппаратной платформы для работы с видеокамерами, способной гибко перестраиваться под конкретные задачи. В дальнейшем, планируется разработка стационарных рабочих мест для режиссера и звукооператора, а также создание переносного комплекта оборудования для проведения трансляций вне стен университета.</p>'}],
      data2:[{'name':'Инструментарий для моделирования измерительных приборов', 'link':'https://cabinet.miem.hse.ru/#/project/127/', 'head':'Красивская Мария Игоревна', 'text': '<p>TБиблиотека способна ускорить моделирование виртуальных лабораторных стендов электроизмерительных приборов, но при этом проста в использовании как конструктор. Используя готовые элементы библиотеки ToolKit, разработчик словно пазл может собрать полноценный прибор, а студенты - смоделировать виртуальные стенды. Реализовать это можно как в лаборатории, так и в формате дистанционного обучения.</p>'},{'name':'Изучение физических законов в виртуальной реальности', 'link':'https://cabinet.miem.hse.ru/#/project/48/', 'head':'Ролич Алексей Юрьевич', 'text': '<p>Это разработка иммерсивного программного обеспечения для изучения физических законов в средней школе с использованием технологии Virtual Reality, образовательного инструмента, позволяющего повысить эффективность работы преподавателя. Это возможно за счет расширенной системы оценивания качественных и количественных показаний освоения материала учеником, глубокой степени погружения в процесс и прочих преимуществ.</p><p>В результате уже получена качественно проработанная составляющая программного продукта из раздела физики «Электричество», демонстрирующая обещанные универсальные механики. В дальнейшем список лабораторных работ будет в полном объёме пополнен разделами «Оптика», «Сила Архимеда» и описаны, соответственно, новые необходимые механики для их реализации в VR.</p>'},{'name':'Электронная лаборатория ВКВС - «Виртуальный космос, виртуальный спутник»', 'link':'https://cabinet.miem.hse.ru/#/project/53/', 'head':'Абрамешин Дмитрий Андреевич', 'text': '<p>Вы думаете, что управлять спутниками сложно? Позвольте вас переубедить!</p><p>Соберите и запустите свой собственный небольшой спутник с помощью приложения!</p>'}],
      data3:[{'name':'Интеллектуальное управление вентиляцией помещений', 'link':'https://cabinet.miem.hse.ru/#/project/143/', 'head':'Полесский Сергей Николаевич', 'text': '<p>Разрабатываемая система подразумевает регуляцию микроклимата открытием/закрытием стеновых клапанов, принятие решений об изменении воздухообмена на основе показаний датчиков температуры, влажности, углекислого газа, камеры, фиксирующей количество людей в помещении. Пользователь может отслеживать состояние микроклимата и управлять им посредством мобильного приложения.</p><p>Она включает:</p><ul><li>Дистанционно управляемые клапаны притока воздуха и вытяжной вентилятор.</li><li>Датчики предоставляющие информацию о климате в каждом помещении (температура в помещении, температура поступающего воздуха, влажность, СО2, кол-во людей в помещении).</li><li>Управляющие микроконтроллеры.</li><li>Мобильное приложение и сервер для управления системой.</li></ul>'},{'name':'Умный шкаф', 'link':'https://cabinet.miem.hse.ru/#/project/44/', 'head':'Романов Александр Юрьевич ', 'text': '<p>Созданная командой система автоматизированного учета и выдачи материальных ценностей "Умный шкаф" позволяет удобно и быстро брать и возвращать ценности и упрощает доступ к ним. Для реализации системы использовалась технология RFID. Это способ автоматической идентификации объектов, в котором посредством радиосигналов записываются и считываются данные, хранящиеся в метках.</p>'},{'name':'Антропоморфный робот', 'link':'https://cabinet.miem.hse.ru/#/project/36/', 'head':'Романов Александр Юрьевич ', 'text': '<p>Слышали про Boston Dynamics, робота-собаку или робота Atlas? Выглядят эти проекты, несомненно, привлекательно, но как насчет того, чтобы самому создать собственного робота? Это можно сделать, используя технологии печати на 3D принтере и имея небольшой опыт в программировании, но без глубоких знаний в этой области. А что, если при этом наделить робота искусственным интеллектом, а для разработки взять продвинутую платформу в виде системы на кристалле и ПЛИС? Приглашаем вас познакомиться с тем, что получилос</p>'},{'name':'Портативная система управления антропоморфным роботом', 'link':'https://cabinet.miem.hse.ru/#/project/35/', 'head':'Романов Александр Юрьевич ', 'text': '<p>Команда проекта разработала систему для полноценного захвата движений человека. Датчики системы будут расположены по всему телу: голова, спина, поясница, руки, пальцы рук, ноги. Данные  будут обрабатываться на специальном плато, после чего передаваться на внешнее устройство по беспроводной сети. Система, разработанная командой, может использоваться для упрощения управления роботами, в игровой индустрии, для анализа движений человека, а также для обучения роботов паттернам движений. Для системы планируется разработать API, которое разработчики смогут использовать для создания своих решений и приложений.</p>'}],
      data4:[{'name':'Автоматизированный анализ состояния проектов в Trello', 'link':'https://cabinet.miem.hse.ru/#/project/18/', 'head':'Королев Денис Александрович', 'text': '<p>Trello - очень удобный инструмент для ведения проектной работы. Однако, для того чтобы использовать его для нужд университета, необходимо стандартизировать и регламентировать работу с ним, а также собирать подробную статистику, которая будет объективно показывать ход работ в проекте. Также необходимо автоматизировать и максимально упростить сбор отчетности по проектам - данная задача решается с помощью чат-бота, который задаёт вопросы всем участникам проекта.</p><p>В результате станет доступным учет проектной деятельности МИЭМ в Trello, сдача отчетности через общение с чат-ботом, а собранная информация будет отправляться в Личный кабинет.</p> '},{'name':'Личный кабинет участника проектной деятельности', 'link':'https://cabinet.miem.hse.ru/#/project/27/', 'head':'Башун Владимир Владимирович', 'text': '<p>Разрабатываемое программное обеспечение должно реализует отдельные сервисы цифровой образовательной среды МИЭМ ВШЭ, такие как:</p><ul><li>Доступ к различным ресурсам через единый вход.</li><li>Доступ к системе со стационарных и мобильных устройств.</li><li>Удобный и понятный интерфейс.</li><li>Обеспечение безопасности хранимых и передаваемых данных.</li><li>Интеграция различных информационных ресурсов.</li></ul><p>ПО предполагается применять при обучении студентов в проектах в НИУ ВШЭ.</p>'},{'name':'AR-навигация внутри здания', 'link':'https://cabinet.miem.hse.ru/#/project/45/', 'head':'Ролич Алексей Юрьевич', 'text': '<p>Задачи локального позиционирования в помещениях и навигации в дополненной реальности являются приоритетными направлениями развития сквозных цифровых технологий.</p><p>Цель данного проекта - разработка приложения для смартфонов для навигации в дополненной реальности внутри здания МИЭМ. Приложение обладает функциями определения точного местоположения и ориентации смартфона пользователя внутри цифровой копии здания МИЭМ, построения маршрута из местоположения пользователя в нужную аудиторию МИЭМ, отслеживания позиции смартфона в здании в реальном времени, сопровождения пользователя в здании МИЭМ с помощью навигационных AR-указателей. Помимо этого, особенностью приложения является идентификация табличек аудиторий по их изображению и вывод расписания занятий в этой аудитории. Также приложение обладает возможностями визуализации 3D контента, в том числе смоделированных участниками проекта 3D моделей, таких как логотипы МИЭМ, НИУ ВШЭ, символа НИУ ВШЭ - Вороны и др.</p> '},{'name':'Видеосервисы МИЭМ NVR', 'link':'https://cabinet.miem.hse.ru/#/project/19/', 'head':'Королев Денис Александрович', 'text': '<p>Цель проекта - решение задач организаций -- от видеофиксации подлежащих записи событий (защиты, экзамены и т.д.) и подсчета количества присуствтующих в зале до создания видеозаписей лекций с автоматической публикацией в LMS учебного заведения.</p><p>Это сервис для автоматической многокамерной видеофиксации событий в оборудованных помещениях, он является основой для подключения дополнительных модулей аналитики видеозаписей и потоков, трансляции и управления съёмочным оборудованием.</p><p>Это экономичное, легко тиражируемое решение для учебных заведений и площадок, где регулярно проводятся мероприятия, которые нужно снимать и транслировать в соцсети, а открытая архитектура позволяет тесно интегрироваться с ресурсами организации -- расписанием занятий, базами пользователей и тд.</p>'},{'name':'Мобильный управлятор PTZ', 'link':'https://cabinet.miem.hse.ru/#/project/26/', 'head':'Королев Денис Александрович', 'text': '<p>Android-приложение для управления видеокамерами в залах, получения изображения с камер и запрос записи из облачного видеорекордера.</p><p>С помощью приложения будут реализованы:</p><ol><li>Управление видеокамерами в оснащенных помещениях МИЭМ.</li>Доступ к управлению -- из внешней сети. То есть,построение клиент-серверной системы с сервером, транслирующим команды с мобильного приложения для камер в сети МИЭМ.<li>Показ потока с выбранной камеры в приложении.</li>Управление положением камеры и переход по заранее заданным позициям -- одним движением. Приложение  применимо для работы в прямом эфире оператором.<li>Получение списка камер из Google Suite Resourses.</li><li>Управление трансляцией (проект 19115) и запрашивание записи в Облачном видеорекордере (проект 19104).</li></ol>'},{'name':'Эмоции на лекциях', 'link':'https://cabinet.miem.hse.ru/#/project/28/', 'head':'Королев Денис Александрович', 'text': '<p>Потоки с камер используются для анализа эмоций, вовлечённости аудитории и подсчета числа слушателей в зале. Результаты анализа отправляются в базу данных (для цифрового следа) и в виде динамического графика эмоций -- в склейку, которую создаёт по итогам записи облачный видеорекордер.</p><p>В дальнейшем сервис формирует таблицы с сырыми данными для последующего анализа, а также создаёт изображение для наложения в компоновку "преподаватель+презентация", формируемую Облачным видеорекордером. Сервис может использоваться для работы в прямом эфире и в перспективе расширяться дополнительными возможностями (распознавание лиц и т.д.).</p>'},{'name':'Аппаратная телецентра МИЭМ', 'link':'https://cabinet.miem.hse.ru/#/project/17/', 'head':'Королев Денис Александрович', 'text': '<p>Команда создает специализированный комплект оборудования для телецентра МИЭМ, чтобы помочь его съемочной группе удобнее и эффективнее проводить трансляции университетских мероприятий, используя установленные в аудиториях камеры видеонаблюдения. Оборудование представляет собой комплект рабочих мест для каждого работника съемочной бригады медиацентра. А главной целью является создание тиражируемой аппаратной платформы для работы с видеокамерами, способной гибко перестраиваться под конкретные задачи. В дальнейшем, планируется разработка стационарных рабочих мест для режиссера и звукооператора, а также создание переносного комплекта оборудования для проведения трансляций вне стен университета.</p>'},{'name':'Электронная лаборатория ВКВС - «Виртуальный космос, виртуальный спутник»', 'link':'https://cabinet.miem.hse.ru/#/project/53/', 'head':'Абрамешин Дмитрий Андреевич', 'text': '<p>Вы думаете, что управлять спутниками сложно? Позвольте вас переубедить!</p><p>Соберите и запустите свой собственный небольшой спутник с помощью приложения!</p>'},{'name':'Умный шкаф', 'link':'https://cabinet.miem.hse.ru/#/project/44/', 'head':'Романов Александр Юрьевич ', 'text': '<p>Созданная командой система автоматизированного учета и выдачи материальных ценностей "Умный шкаф" позволяет удобно и быстро брать и возвращать ценности и упрощает доступ к ним. Для реализации системы использовалась технология RFID. Это способ автоматической идентификации объектов, в котором посредством радиосигналов записываются и считываются данные, хранящиеся в метках.</p>'},{'name':'Распознавание эмоций', 'link':'https://cabinet.miem.hse.ru/#/project/176/', 'head':'Романов Александр Юрьевич ', 'text': '<p>Командой проекта на базе одноплатного компьютера Raspberry Pi разработан рабочий прототип системы, детектирующей лицо человека и определяющей его эмоциональное состояние. Распознание эмоций происходит в режиме реального времени по полученному с камеры видеопотоку. В основе системы лежат модели глубинного обучения, оптимизированные под работу на низкопроизводительном железе.</p>'},{'name':'Интерактивный киоск', 'link':'https://cabinet.miem.hse.ru/#/project/68/', 'head':'Овчинников Александр Алексеевич', 'text': '<p>Конструктор букетов - это универсальная веб-платформа, позволяющая создавать и изменять 3D-модели цветочных букетов по заданным пользователем параметрам. Разработанный API для генерации, визуализации и включения 3D-моделей цветочных букетов в веб-приложение предусматривает интеграцию с интернет-магазинами цветов, так как добавляет всю функциональность веб-сайту. Веб-приложение может быть использовано как самостоятельный продукт для демонстрации работы алгоритма по созданию цветочного букета, так и отдельный модуль на сайте владельца интернет-магазина. Универсальность состоит в том, что каждый, кто интегрирует к себе данное решение, подключает свою базу данных цветов с готовыми моделями и получает весь функционал, направленный на решение задач каждого из клиентов.</p>'},{'name':'Диагностический водородный дыхательный тест', 'link':'https://cabinet.miem.hse.ru/#/project/144/', 'head':'Иванов Илья Александрович', 'text': '<p>Водородный дыхательный тест (hydrogen breath test) основан на определении концентрации водорода в выдыхаемом воздухе при нагрузке тестирующими углеводами и широко используется в гастроэнтерологии. Сейчас все большее внимание привлекает исследование водорода в качестве антиоксиданта, что было доказано в 2007 г. в статье престижного журнала Nature.</p><p>Командой  разработаны структура системы и алгоритмы функционирования, основанные на методике измерения водорода с учетом особенностей питания. Дополнительно был разработан прототип мобильного приложения на iOS and Android для управления работой прибора и сбора полученных результатов. В дальнейшем планируется разработка “облачного” сервиса сбора и анализа данных, а также веб-сайта проекта. Кроме того, уже ведётся разработка отечественного прибора для измерения водорода с отличными характеристиками.</p>'},{'name':'Алгоритм картирования свойств трансмембранных белковых пор', 'link':'https://cabinet.miem.hse.ru/#/project/9/', 'head':'Выборный Евгений Викторович', 'text': '<p>Оонимание структуры и функций биологических макромолекул имеет решающее значение для раскрытия принципов жизни, разработки новых лекарств и приложений в промышленности. Вычислительный анализ и визуализация макромолекул важны из-за их сложной структуры, высокой стоимости и определенной ограниченности лабораторных анализов.</p><p>Макромолекуле часто необходимо, чтобы небольшая молекула или ион транспортировались через ее структуру, обычно через пустые пространства в структуре. Свойства путей значительно меняются во времени, поэтому, чтобы узнать функции туннеля, необходим анализ ансамбля структур (например, траектория молекулярной динамики), а не одной статической структуры.</p><p>В данном проекте разработан алгоритм для проведения оси в ионном канале, который обеспечит нанесение канала на карты для дальнейшего изучения физических и химических свойств каналов и их влияние на функциональные особенности белка.</p>'},{'name':'Анализ методов реализации квантовых алгоритмов', 'link':'https://cabinet.miem.hse.ru/#/project/77/', 'head':'Лубенец Елена Рубеновна', 'text': '<p>Проектная команда исследовала эффективность использования квантовых процессоров компании IBM, находящихся в данный момент в открытом облачном доступе, для реализации нескольких фундаментальных квантовых алгоритмов, имеющих большой потенциал в области прикладного использования.</p>'},{'name':'Баллистическое проектирование перелета Земля-Луна с приземлением в заданной области Луны', 'link':'https://cabinet.miem.hse.ru/#/project/80/', 'head':'Бобер Станислав Алексеевич', 'text': '<p>Луна и ее ресурсы снова в центре внимания космических держав! США готовит космическую миссию Артемида, Китай - программы Чанъэ, Россия - сразу 3 миссии: Луна - Глоб, Луна – Ресурс, Луна – Грунт.</p><p>Расчет траекторий перелета к Луне – сложная задача, за которую взялся наш проект. Традиционно космические аппараты долетали до Луны «прямым» перелетом. Такой перелет проще и надежнее. Однако, новые вызовы требуют исследования новых возможностей и эти возможности - точки Лагранжа!</p><p>Найти траектории с облетом этих точек непросто, поэтому нам пришлось учиться баллистическому проектированию, писать программы, выполнять расчеты. Это заняло у нас несколько месяцев, но мы справились и нашли такие траектории!</p><p>Как выглядят новые траектории? Какие выгоды они дают? Сколько времени занимает перелет? Удалось ли снизить затраты топлива? Ответы на эти и многие другие вопросы даст наш проект!</p>'}],
      data5:[{'name':'Неинвазивное измерение уровня глюкозы на основе кардиоданных', 'link':'https://cabinet.miem.hse.ru/#/project/66/', 'head':'Новиков Роман Сергеевич', 'text': '<p>Сахарный диабет (СД) - заболевание, которое в XXI веке переросло в эпидемию и распространяется по сей день. Каждый 20-й житель России и мира страдает сахарным диабетом, и большинство из них - СД второго типа (СД2) - пациенты, которым важно ежедневно по несколько раз проверять уровень глюкозы в крови.</p><p>Cейчас глюкометр является единственным доступным способом измерения уровня глюкозы в крови, но он имеет такой недостаток, как инвазивность (разрушение кожного покрова).</p><p>Поэтому перед командой стояла задача найти и описать новый неинвазивный способ измерения уровня глюкозы в крови, определив статистическую связь с данными ЭКГ и разработав математическую модель и программу для мониторинга гликемии без повреждения поверхности кожи.</p>'},{'name':'Определение психоэмоционального состояния человека по голосу', 'link':'https://cabinet.miem.hse.ru/#/project/146/', 'head':'Иванов Илья Александрович', 'text': '<p>В рамках проекта команда разработали систему, позволяющую в автоматическом режиме анализировать голос человека и на его основе определять психоэмоциональное состояние. </p><p>Система представляет собой клиент-серверный вариант работы приложения, основанный на нейросетевых технологиях и анализе голоса. </p><p>Данное приложение может быть интегрировано в системы видеофиксации, что позволяет анализировать звуковой поток при видеосъемке. С его помощью можно определить, насколько искренне высказывается докладчик, например, проанализировать выступление политика. Также приложение может быть использовано в рамках технологии «Умный дом» - пока вы едете домой на машине и разговариваете по телефону (в целях безопасности разговор, естественно, осуществляется по громкой связи), ваш голос будет анализироваться и по нему будет составлен ваш психоэмоциональный образ в данный момент, а система «Умный дом» подберет для вас подходящую обстановку - освещение, музыку и многое другое. Кроме этого систему можно интегрировать в бизнес-компании для распознавания эмоционального профиля будущего сотрудника.</p>'},{'name':'Диагностический водородный дыхательный тест', 'link':'https://cabinet.miem.hse.ru/#/project/144/', 'head':'Иванов Илья Александрович', 'text': '<p>Водородный дыхательный тест (hydrogen breath test) основан на определении концентрации водорода в выдыхаемом воздухе при нагрузке тестирующими углеводами и широко используется в гастроэнтерологии. Сейчас все большее внимание привлекает исследование водорода в качестве антиоксиданта, что было доказано в 2007 г. в статье престижного журнала Nature.</p><p>Командой  разработаны структура системы и алгоритмы функционирования, основанные на методике измерения водорода с учетом особенностей питания. Дополнительно был разработан прототип мобильного приложения на iOS and Android для управления работой прибора и сбора полученных результатов. В дальнейшем планируется разработка “облачного” сервиса сбора и анализа данных, а также веб-сайта проекта. Кроме того, уже ведётся разработка отечественного прибора для измерения водорода с отличными характеристиками.</p>'},{'name':'Мобильное приложение оценки когнитивных функций мозга', 'link':'https://cabinet.miem.hse.ru/#/project/164/', 'head':'Выборный Евгений Викторович', 'text': '<p>Основой идеи проекта является проектирование и разработка цифрового варианта СTT (Color Trail Test – специализированный бумажный тест для оценки когнитивных функций мозга).</p><p>Содержание приложения: сбор данных о пользователе с целью проведения анализа собираемых метрик, для прогнозирования и классификации когнитивных расстройств функций мозга.</p><p>Для разработки использованы язык программирования Python, фреймворк Kivy.</p>'},{'name':'Алгоритм картирования свойств трансмембранных белковых пор', 'link':'https://cabinet.miem.hse.ru/#/project/9/', 'head':'Выборный Евгений Викторович', 'text': '<p>Оонимание структуры и функций биологических макромолекул имеет решающее значение для раскрытия принципов жизни, разработки новых лекарств и приложений в промышленности. Вычислительный анализ и визуализация макромолекул важны из-за их сложной структуры, высокой стоимости и определенной ограниченности лабораторных анализов.</p><p>Макромолекуле часто необходимо, чтобы небольшая молекула или ион транспортировались через ее структуру, обычно через пустые пространства в структуре. Свойства путей значительно меняются во времени, поэтому, чтобы узнать функции туннеля, необходим анализ ансамбля структур (например, траектория молекулярной динамики), а не одной статической структуры.</p><p>В данном проекте разработан алгоритм для проведения оси в ионном канале, который обеспечит нанесение канала на карты для дальнейшего изучения физических и химических свойств каналов и их влияние на функциональные особенности белка.</p>'}, {'name':'Виртуальная реконструкция ex-vivo диссекции проводящих путей головного мозга человека', 'link':'https://cabinet.miem.hse.ru/#/project/40/', 'head':'Аксенов Сергей Алексеевич', 'text': '<p>ПОсновной целью проекта является создание удобного и функционального программного обеспечения, предоставляющего инструментарий для различения, маркирования и визуализации проводящих путей головного мозга человека – по данным диссекции кадаверных препаратов. Проводящие пути – это пучки нервных волокон, которые характеризуются общностью строения и функций и связывают различные отделы головного и спинного мозга.</p>'}],
      data6:[{'name':'Распознавание эмоций', 'link':'https://cabinet.miem.hse.ru/#/project/176/', 'head':'Романов Александр Юрьевич ', 'text': '<p>Командой проекта на базе одноплатного компьютера Raspberry Pi разработан рабочий прототип системы, детектирующей лицо человека и определяющей его эмоциональное состояние. Распознание эмоций происходит в режиме реального времени по полученному с камеры видеопотоку. В основе системы лежат модели глубинного обучения, оптимизированные под работу на низкопроизводительном железе.</p>'},{'name':'3D-конструктор цветочных букетов', 'link':'https://cabinet.miem.hse.ru/#/project/57/', 'head':'Романов Александр Юрьевич ', 'text': '<p>Конструктор букетов - это универсальная веб-платформа, позволяющая создавать и изменять 3D-модели цветочных букетов по заданным пользователем параметрам. Разработанный API для генерации, визуализации и включения 3D-моделей цветочных букетов в веб-приложение предусматривает интеграцию с интернет-магазинами цветов, так как добавляет всю функциональность веб-сайту. Веб-приложение может быть использовано как самостоятельный продукт для демонстрации работы алгоритма по созданию цветочного букета, так и отдельный модуль на сайте владельца интернет-магазина. Универсальность состоит в том, что каждый, кто интегрирует к себе данное решение, подключает свою базу данных цветов с готовыми моделями и получает весь функционал, направленный на решение задач каждого из клиентов.</p>'},{'name':'Интерактивный киоск', 'link':'https://cabinet.miem.hse.ru/#/project/68/', 'head':'Овчинников Александр Алексеевич', 'text': '<p>Конструктор букетов - это универсальная веб-платформа, позволяющая создавать и изменять 3D-модели цветочных букетов по заданным пользователем параметрам. Разработанный API для генерации, визуализации и включения 3D-моделей цветочных букетов в веб-приложение предусматривает интеграцию с интернет-магазинами цветов, так как добавляет всю функциональность веб-сайту. Веб-приложение может быть использовано как самостоятельный продукт для демонстрации работы алгоритма по созданию цветочного букета, так и отдельный модуль на сайте владельца интернет-магазина. Универсальность состоит в том, что каждый, кто интегрирует к себе данное решение, подключает свою базу данных цветов с готовыми моделями и получает весь функционал, направленный на решение задач каждого из клиентов.</p>'}],
      data7:[{'name':'Анализ методов реализации квантовых алгоритмов', 'link':'https://cabinet.miem.hse.ru/#/project/77/', 'head':'Лубенец Елена Рубеновна', 'text': '<p>Проектная команда исследовала эффективность использования квантовых процессоров компании IBM, находящихся в данный момент в открытом облачном доступе, для реализации нескольких фундаментальных квантовых алгоритмов, имеющих большой потенциал в области прикладного использования.</p>'},{'name':'Баллистическое проектирование перелета Земля-Луна с приземлением в заданной области Луны', 'link':'https://cabinet.miem.hse.ru/#/project/80/', 'head':'Бобер Станислав Алексеевич', 'text': '<p>Луна и ее ресурсы снова в центре внимания космических держав! США готовит космическую миссию Артемида, Китай - программы Чанъэ, Россия - сразу 3 миссии: Луна - Глоб, Луна – Ресурс, Луна – Грунт.</p><p>Расчет траекторий перелета к Луне – сложная задача, за которую взялся наш проект. Традиционно космические аппараты долетали до Луны «прямым» перелетом. Такой перелет проще и надежнее. Однако, новые вызовы требуют исследования новых возможностей и эти возможности - точки Лагранжа!</p><p>Найти траектории с облетом этих точек непросто, поэтому нам пришлось учиться баллистическому проектированию, писать программы, выполнять расчеты. Это заняло у нас несколько месяцев, но мы справились и нашли такие траектории!</p><p>Как выглядят новые траектории? Какие выгоды они дают? Сколько времени занимает перелет? Удалось ли снизить затраты топлива? Ответы на эти и многие другие вопросы даст наш проект!</p>'},{'name':'Идентификация людей на тепловизионном изображении', 'link':'https://cabinet.miem.hse.ru/#/project/8/', 'head':'Сергеев Антон Валерьевич', 'text': '<p>Программная система для обнаружения людей на изображениях с тепловизора. Может использоваться в задачах по охране объектов и обеспечении промышленной безопасности. Ей под силу предотвратить наезды на людей ночью и плохую погоду, выявить нарушителей охраняемой зоны и т. п. В проекте проанализировано несколько подходов, использующих как нейросетевые, так и классические computer vision алгоритмы.</p>'}]
    };
  },
  components: {},
  mounted() {
     setInterval(
      function() {
        this.$refs.carousel.computeCarouselHeight()
      }.bind(this),
      300
    );
  },
  methods: {
    pageChanged(n)
    {
      this.pageNo = n
    },
    go(link)
    {
      window.open(link, "_blank");
    },
    act(i)
    {
      if(i ==1)
      {
        
        this.pageNo = 0 
      }
      if(i ==2)
      {
        this.pageNo = 1
      }
      if(i ==3)
      {
        this.pageNo = 2
      }
      if(i ==4)
      {
        this.pageNo = 3
      }
      if(i ==5)
      {
        this.pageNo = 4
      }
      if(i ==6)
      {
        this.pageNo = 5
      }
      if(i ==7)
      {
        this.pageNo = 6
      }
    },
    mouseOver(i)
    {
      
      if(i ==1)
      {
        this.up1 = true
      }
      if(i ==2)
      {
        this.up2 = true
      }
      if(i ==3)
      {
        this.up3 = true
      }
      if(i ==4)
      {
        this.up4 = true
      }
      if(i ==5)
      {
        this.up5 = true
      }
      if(i ==6)
      {
        this.up6 = true
      }
      if(i ==7)
      {
        this.up7 = true
      }
    },
    mouseLeave(i)
    {
      if(i ==1)
      {
        this.up1 = false
      }
      if(i ==2)
      {
        this.up2 = false
      }
      if(i ==3)
      {
        this.up3 = false
      }
      if(i ==4)
      {
        this.up4 = false
      }
      if(i ==5)
      {
        this.up5 = false
      }
      if(i ==6)
      {
        this.up6 = false
      }
      if(i ==7)
      {
        this.up7 = false
      }
    },
    open(i, x)
    {
      
      if(i==1)
      {
        if(this.open1 == x)
        {
          this.open1 = 0
          return
        }
        this.open1 = x
      }
      if(i==2)
      {
        if(this.open2 == x)
        {
          this.open2 = 0
          return
        }
        this.open2 = x
      }
      if(i==3)
      {
        if(this.open3 == x)
        {
          this.open3 = 0
          return
        }
        this.open3 = x
      }
      if(i==3)
      {
        if(this.open4 == x)
        {
          this.open4 = 0
          return
        }
        this.open4 = x
      }
      if(i==7)
      {
        if(this.open7 == x)
        {
          this.open7 = 0
          return
        }
        this.open7 = x
      }
      if(i==5)
      {
        if(this.open5 == x)
        {
          this.open5 = 0
          return
        }
        this.open5 = x
      }
      if(i==6)
      {
        if(this.open6 ==x)
        {
          this.open6 = 0
          return
        }
        this.open6 = x
      }



    },
    handle_page(i)
    {

    }
  },
  
};
</script>
<style scoped>
.map{
  width: 960px;
  height: 323px;
  margin: 0 auto;
  position: relative;
  margin-top: -100px;
}
.maps
{
  padding-bottom: 80px;
}
.maps .title
{
  margin-top: 0 !important;
  color: white;
  text-transform: capitalize;
  text-align: left;
  font-size: 40px;
  line-height: 1.2;
}
.description
{
  font-family: 'Source Sans Pro';
  font-size: 24px;
  line-height: 30px;

  color: #FFFFFF;
  max-width: 90%;
}
.el
{
  width: 240px;
  position: absolute;
}
.el1
{
  top:58px;
  z-index: 2;
}
.el2
{
  left:147px;
  top:12px;
  z-index: 1;
}
.el3{
  top: 160px;
  z-index:5;
  left:60px;
}
.el4{
  top: 107px;
  z-index: 4;
  left: 195px;
}
.el5{
  left: 368px;
  z-index: 3;
  left: 195px;
}
.title
{
  text-transform: uppercase;
  margin-top: 0 ;
  
}
.data .header
{
  color:white;
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.data{
  margin-top:20px;

}
.vc-collapse
{
  border-bottom: 2px white solid;
  margin-top: 10px;
}
.my-content
{
  margin-bottom: 5px ;
  font-size: 14px;
  line-height: 1.2;

  color: #FFFFFF;
}
.info
{
  font-size: 24px;
  line-height: 30px;
  padding-left: 40px;
  margin-top: 10px;
}
.active
{
  color: #C5DB37 !important;
}
.header:hover{
  color: #C5DB37 !important;
}
.img
{
  position: absolute;
  transition: 0.5s;
  
}
.img1{-webkit-filter: ;filter: grayscale(100%);width: 168px;top:150px;left:190px;z-index:10}
.img2{-webkit-filter: grayscale(100%);filter: grayscale(100%);width: 168px;top:110px;left:100px;z-index:9}
.img3{-webkit-filter: grayscale(100%);filter: grayscale(100%);width: 168px;top:70px;left:10px;z-index:8}
.img4{-webkit-filter: grayscale(100%);filter: grayscale(100%);width: 168px;top:30px;left:280px;z-index:4}
.img5{-webkit-filter: grayscale(100%);filter: grayscale(100%);width: 168px;top:110px;left:280px;z-index:7}
.img6{-webkit-filter: grayscale(100%);filter: grayscale(100%);width: 168px;top:70px;left:190px;z-index:6}
.img7{-webkit-filter: grayscale(100%);filter: grayscale(100%);width: 168px;top:30px;left:100px;z-index:5}

.img1u{-webkit-filter: grayscale(0%)!important;filter: none!important;top:140px!important}
.img2u{-webkit-filter: grayscale(0%)!important;filter: none!important;top:100px!important}
.img3u{-webkit-filter: grayscale(0%)!important;filter: none!important;top:60px!important}
.img4u{-webkit-filter: grayscale(0%)!important;filter: none!important;top:20px!important}
.img5u{-webkit-filter: grayscale(0%)!important;filter: none!important;top:100px!important}
.img6u{-webkit-filter: grayscale(0%)!important;filter: none!important;top:60px!important}
.img7u{-webkit-filter: grayscale(0%)!important;filter: none!important;top:20px!important}

.cl1{height:78px;width:168px;cursor:pointer;position:absolute;top:210px;left:190px;z-index:20;border-radius: 100px/50px}
.cl2{height:78px;width:168px;cursor:pointer;position:absolute;top:170px;left:100px;z-index:22;border-radius: 100px/50px}
.cl3{height:78px;width:168px;cursor:pointer;position:absolute;top:130px;left:10px;z-index:26;border-radius: 100px/50px}
.cl4{height:78px;width:168px;cursor:pointer;position:absolute;top:110px;left:280px;z-index:25;border-radius: 100px/50px}
.cl5{height:78px;width:168px;cursor:pointer;position:absolute;top:170px;left:280px;z-index:23;border-radius: 100px/50px}
.cl6{height:78px;width:168px;cursor:pointer;position:absolute;top:130px;left:190px;z-index:24;border-radius: 100px/50px}
.cl7{height:78px;width:168px;cursor:pointer;position:absolute;top:110px;left:100px;z-index:22;border-radius: 100px/50px}
.btn_my
{
     margin-top: 5px;
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
    margin-left: 40px;
    font-size: 12px;
    font-family: 'Russo One', sans-serif;
    color: #363290;
    background-color: #C5DB37;
    padding: 13px 18px 12px;
    border-radius: 20px;
    line-height: 1;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    transition: 0.5s;
}
.btn_my:hover{
  background-color: #a5b53f;
}
.mimg
{
  width: 210px !important;
}
@media (max-width: 768px) {  
  .maps .title{
    font-size: 26px;
  }
}

</style>