<template>
  <section class="numbers">
    <b-container >
      
      <div class="row row-eq-height features text-center">
       <div class="col-md-4 col-sm-12">
         <div class="num">24</div>
         <div class="desc">ПЕРСПЕКТИВНЫХ<br>ПРОЕКТА</div>
       </div>
       <div class="col-md-4 col-sm-12">
         <div class="num">85</div>
         <div class="desc">ТАЛАНТЛИВЫХ<br>СТУДЕНТОВ</div>
       </div>
       <div class="col-md-4 col-sm-12">
         <div class="num">15</div>
         <div class="desc">НАУЧНЫХ<br>РУКОВОДИТЕЛЕЙ</div>
       </div>
       
        
      </div>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "numbers",
  components: {},
  mounted() {
     
  },
  methods: {

  },
  
};
</script>
<style scoped>

.numbers .desc{
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.numbers .num
{
  font-family: 'Russo One', sans-serif;
  font-size: 110px;
  line-height: 1.2;

  color: #363290;

  text-shadow: 16px 10px 0px #C5DB37;
}
</style>