<template>
  <section class="partners"  style="padding-bottom:40px; padding-top:60px">
    <b-container id="partners">
      <div class="title">Партнеры</div>
      <b-row>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%9C%D0%98%D0%AD%D0%9C.svg/1536px-%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%9C%D0%98%D0%AD%D0%9C.svg.png" alt="">
          </a>
        </b-col>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
          <img src="https://styleru.org/img/rulogo.501be814.png" alt="">
          </a>
        </b-col>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
          <img src="https://www.hse.ru/data/2012/01/19/1263884289/logo_%D1%81_hse_cmyk_e.png" alt="">
          </a>
        </b-col>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
          <img src="https://www.hse.ru/data/2012/01/19/1263884289/logo_%D1%81_hse_cmyk_e.png" alt="">
          </a>
        </b-col>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%9C%D0%98%D0%AD%D0%9C.svg/1536px-%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%9C%D0%98%D0%AD%D0%9C.svg.png" alt="">
          </a>
        </b-col>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
          <img src="https://styleru.org/img/rulogo.501be814.png" alt="">
          </a>
        </b-col>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
          <img src="https://www.hse.ru/data/2012/01/19/1263884289/logo_%D1%81_hse_cmyk_e.png" alt="">
          </a>
        </b-col>
        <b-col lg=3 cols=6 class="my-auto py-3">
          <a href="">
          <img src="https://www.hse.ru/data/2012/01/19/1263884289/logo_%D1%81_hse_cmyk_e.png" alt="">
          </a>
        </b-col>
        
        
      </b-row>
    </b-container>
    <b-container class="contacts text-center" id="contacts">
      <div class="title" >КОНТАКТЫ</div>
      <div class="row">
        <div class="col-md-4">
          <a href="https://www.hse.ru/org/persons/139815451"  target="_blank">
            <img src="@/assets/contacts/1.png" alt="">
          </a>
          <a href="https://www.hse.ru/org/persons/139815451" target="_blank">
           <div class="name mt-2">ОЛЬГА КОРНЕВА</div>
          </a>
          <div class="role">ОРГАНИЗАТОР</div>
          <p class="mt-2">okorneva@hse.ru<br>okorneva@miem.hse.ru</p>
        </div>
        <div class="col-md-4">
          
          <a href="https://www.hse.ru/org/persons/222534731" target="_blank">
            <img src="@/assets/contacts/2.png" alt="">
            <div class="name mt-2">МАКСИМ ЧУЯШКИН</div>
          </a>
          <div class="role">РУКОВОДИТЕЛЬ ПРОЕКТНОГО ОФИСА</div>
          <p class="mt-2">mchuyashkin@hse.ru</p>
        </div>
        <div class="col-md-4">
          <a href="https://www.hse.ru/staff/dkorolev" target="_blank">
            <img src="@/assets/contacts/3.png" alt="">
            <div class="name mt-2">ДЕНИС КОРОЛЕВ</div>
          </a>
          <div class="role">ТЕХНИЧЕСКАЯ ПОДДЕРЖКА</div>
          <p class="mt-2">dkorolev@hse.ru<br>dkorolev@miem.hse.ru</p>
        </div>
        
        
      </div>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "partners",
  data() {
    return {

    };
  },
  components: {},
  mounted() {
      
  },
  methods: {

  },
  
};
</script>
<style scoped>
.partners
{
  background: #534FA7;
}
.partners .title
{
  color:white;
  margin-top: 0 !important;
}
.partners img{
  max-width: 100%;
  max-height: 150px;
  margin:0 auto;
  display: table;
}
.contacts .title{
  margin-top: 80px !important;
}
.contacts img{
  width: 210px;
  height: 210px;
  max-height: unset;
}
.contacts .name
{
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.contacts .role
{
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */


  color: #C5DB37; 
}
.contacts p{
  font-family: Candara;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;

}
</style>