<template>
  <section class="programs"  style="margin-bottom:40px">
    <b-container >
      
      <div class="row row-eq-height features text-center">
       <div class="col-md-6 col-sm-12">
         <iframe  src="https://www.youtube.com/embed/IuQqGysEjt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; height:100%; border-radius:20px"></iframe>
       </div>
       <div class="col-md-6 col-sm-12 mt-4 mt-md-0">
         <div class="card">
          <ul>
            <li>11:30 - 12:00 — Welcome</li>
            <li>12:00 - 13:30 — Технострим</li>
            <li>13:30 - 15:00 — Ректорский карантинный обход</li>
            <li>15:00 - 16:00 — Research show</li>
            <li>11:00 - 16:00 — Шоурум</li>
            <li>11:00 - 16:00 — Голосование участников</li>
          </ul>
          <div class="action" @click="go">Регистрация</div>
         </div>
       </div>
        
      </div>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "programs",
  data() {
    return {

    };
  },
  components: {},
  mounted() {
     
  },
  methods: {
    go()
    {
      window.open('https://docs.google.com/forms/d/e/1FAIpQLSdaCXQ_IL2ksYmb3tvNT4y_b2luwh3xSrxmhPUgmnUMmzN-LA/viewform', "_blank");
    },
  },
  
};
</script>
<style scoped>

.card{
  background: linear-gradient(180deg, #363290 0%, rgba(54, 50, 144, 0.78) 100%);
  padding: 15px !important;
  border-radius: 20px;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  text-align: left;
  color:white
}
.action
{
  margin-top: 25px;
  font-size: 12px;
  font-family: 'Russo One', sans-serif;
  color: #363290;
  background-color: #C5DB37;
  padding: 26px 26px 23px;
  border-radius: 20px;
  line-height: 1;
  width: max-content;
  cursor: pointer;
  transition: 0.5s;
  
}
.action:hover{
  background-color: #a5b53f;
}
@media (max-width: 768px) {  
  iframe{
    height: 300px !important;
  }
  
}
</style>