<template>
  <section class="promo" style="margin-bottom:40px">
    <b-container >
      <carousel :scrollPerPage='true' :perPage=1 :perPageCustom="[[768, 2], [992, 3]]" :navigationEnabled='true' :paginationEnabled='false' navigationNextLabel='<i class="las la-angle-right" style="font-size:24px;"></i>' navigationPrevLabel='<i class="las la-angle-left" style="font-size:24px;"></i>'>
        <slide v-for="item in data" :key='item.id'>
          <div class="video"><iframe  :src="'https://www.youtube.com/embed/'+item.id" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; height:190px; border-radius:20px"></iframe></div>
          <div class="heading">{{item.head}}</div>
          <div class="desc">{{item.text}}</div>
        </slide>
        
      </carousel>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "promo",
  data() {
    return {
      data: [{'id':'sQyoiSly3no', 'head':'Разработка антропоморфного робота', 'text': 'Слышали про Boston Dynamics, робота-собаку или робота Atlas? Выглядят эти проекты, несомненно, привлекательно, но как насчет того, чтобы самому создать собственного робота? Это можно сделать, используя технологии печати на 3D принтере и имея небольшой опыт в программировании, но без глубоких знаний в этой области. А что, если при этом наделить робота искусственным интеллектом, а для разработки взять продвинутую платформу в виде системы на кристалле и ПЛИС? Приглашаем вас познакомиться с тем, что получилось.'},{'id':'WxYy5_7_ue0', 'head':'Диагностический водородный дыхательный тест', 'text': 'Водородный дыхательный тест (hydrogen breath test) основан на определении концентрации водорода в выдыхаемом воздухе при нагрузке тестирующими углеводами и широко используется в гастроэнтерологии. Сейчас все большее внимание привлекает исследование водорода в качестве антиоксиданта, что было доказано в 2007 г. в статье престижного журнала Nature. '},{'id':'uoyRQpxgL2E', 'head':'Распознавание эмоций', 'text': 'Командой проекта на базе одноплатного компьютера Raspberry Pi разработан рабочий прототип системы, детектирующей лицо человека и определяющей его эмоциональное состояние. Распознание эмоций происходит в режиме реального времени по полученному с камеры видеопотоку. В основе системы лежат модели глубинного обучения, оптимизированные под работу на низкопроизводительном железе.'}]
    };
  },
  components: {},
  mounted() {
      
  },
  methods: {

  },
  
};
</script>
<style >
.promo .heading
{
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #363290;
}
.promo .desc
{
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 18px;
}
.VueCarousel-navigation-button:focus{
  outline: unset !important;
}
.VueCarousel-slide
{
 padding-left: 15px;
 padding-right: 15px;
}

</style>