<template>
  <section class="speakers" id="speakers" style="padding-bottom:0; padding-top:60px">
    <b-container > 
      <div class="title">СПИКЕРЫ И КАПИТАНЫ КОМАНД</div>
    </b-container>
    <b-container fluid>
      
      <b-row>
        <b-col cols=12 style="padding:0;"> 
          <carousel :loop="true" :items=5 :center='true' :dots='false' :nav='false' class="car" :autoplay="true">
            
            <div class="" v-for="index in 30" :key="index" >
              <figure class="profile">
                <img :src="getImgUrl(index)">
              </figure>
              <div class="label">
                <h4 class="mb-0">{{leaders[index-1].name}}</h4>
                <h5 class="mb-0">{{leaders[index-1].role}}</h5>
                <p class="mb-0">{{leaders[index-1].num}}</p>
              </div>
              

            </div>
            <template slot="prev"><span class="prev"><i class="las la-chevron-left" style="font-size:48px; color:white"></i></span></template>
            <template slot="next"><span class="next"><i class="las la-chevron-right" style="font-size:48px; color:white"></i></span></template>

        </carousel> 
        <div class="white_back"></div>
        <div class="white_back2"></div>

        </b-col>
        
        
      </b-row>
    </b-container>
    
  </section>
</template>
<script>
import carousel from 'vue-owl-carousel'
export default {
  
  name: "speakers",
  data() {
    return {
      leaders:[{'name':'Туракулов Акрамжон Улугбекович', 'role':'Спикер', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Пономарев Александр Сергеевич', 'role':'Спикер и лидер команды', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Алиев Насир Ашурович', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Баженов Глеб Владимирович', 'role':'Спикер и лидер команды', 'num': 'Разное'},
{'name':'Волоснов Артем Сергеевич', 'role':'Спикер', 'num': 'Здоровье и науки о человеке'},
{'name':'Гавриленко Клим Сергеевич', 'role':'Спикер и лидер команды', 'num': 'Интеллектуальные системы и цифровые сервисы'},
{'name':'Гаспарян Антон Оганесович', 'role':'Участник проекта', 'num': 'Образовательные решения'},
{'name':'Самохвалова Ксения Андреевна', 'role':'Участник проекта', 'num': 'Образовательные решения'},
{'name':'Емельянов Константин Станиславович', 'role':'Участник проекта', 'num': 'Здоровье и науки о человеке'},
{'name':'Клюваков Даниил Дмитриевич', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Кожев Юрий Андреевич', 'role':'Спикер и лидер команды', 'num': 'Разное'},
{'name':'Кузнецов Сергей Алексеевич', 'role':'Спикер и лидер команды', 'num': 'Разное'},
{'name':'Куликов Владислав Михайлович', 'role':'Спикер', 'num': 'Разное'},
{'name':'Михайлевский Станислав', 'role':'Спикер и лидер команды', 'num': 'Интеллектуальные системы и цифровые сервисы'},
{'name':'Петин Данила Максимович', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Писарский Илья Дмитриевич', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Рзаев Эдвард Рамизович', 'role':'Спикер и лидер команды', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Романова Дарья Сергеевна', 'role':'Спикер и лидер команды', 'num': 'Образовательные решения'},
{'name':'Рыжов Алексей Романович', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Дубильер Яна Александровна', 'role':'Спикер', 'num': 'Образовательные решения'},
{'name':'Санникова Нелли Васильевна', 'role':'Участник проекта', 'num': 'Здоровье и науки о человеке'},
{'name':'Сидоров Михаил Алексеевич', 'role':'Спикер и лидер команды', 'num': 'Здоровье и науки о человеке'},
{'name':'Степанянц Виталий Гургенович', 'role':'Спикер и лидер команды', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Тонков Александр Сергеевич', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Ханаев Антон Сергеевич', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Хромов Григорий Александрович', 'role':'Спикер и лидер команды', 'num': 'Образовательные решения'},
{'name':'Цыгикало Пётр Николаевич', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'},
{'name':'Чуркина Лада Юрьевна', 'role':'Спикер и лидер команды', 'num': 'Здоровье и науки о человеке'},
{'name':'Шишов Антон Евгеньевич', 'role':'Спикер и лидер команды', 'num': 'Интеллектуальные системы и цифровые сервисы'},
{'name':'Яценко Иван Юрьевич ', 'role':'Участник проекта', 'num': 'Умная инфраструктура и робототехника'}]
    };
  },
  components: {carousel},
  mounted() {
      
  },
  methods: {
    getImgUrl(id) {
      var images = require.context('../assets/speakers', false, /\.png$/)
      return images('./' + id + ".png")
    }, 
    handle_page(id)
    {
      console.log(id)
    }
  },
  
};
</script>
<style >
.speakers{
  box-shadow:  0px 15px 14px #1D1164;
  padding-bottom: 40px;
  background: #4440A3;
  position: relative;
  z-index: 8;
}
.speakers .title
{
  color:white;
  margin-top: 0 !important;
}
.speakers img{
  width:100%;
}
.speakers .owl-item {
    transform: scale(0.8) translateY(3.65rem) !important;
    transition: transform .3s;
}
.speakers .owl-item.center {
    z-index: 100;
    transform: scale(1) !important;
}
.profile
{
    height: 30rem;
    text-align: center;
    position: relative;
}
.speakers .owl-item img {
    bottom: 0;
    filter: grayscale(100%);
    height: 480px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    transform: translateX(-50%);
    vertical-align: bottom;
    width: auto!important;
}
.speakers .car>span{
  display: block !important;
}
.speakers .car{
  position: relative;
  margin-bottom: -2px;
}
.speakers .prev,.speakers .next
{
  position: absolute;
  bottom: 10rem;
  z-index: 5;
  cursor: pointer;
}
.speakers .prev{
  left: 10px;
}
.speakers .next{
  right: 10px;
}
.speakers .label
{
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 200px;
}
.speakers .center .label
{
  display: block;
  background: #363290;
  padding:5px 15px;
  border-radius: 20px;
  bottom: 25px;
  left: 24px;
}
.speakers .label h4 {
  font-family: 'Russo One', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}
.speakers .label h5{
  font-family: 'Russo One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #C5DB37;
}
.speakers .label p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #FFFFFF;
}
.white_back
{
  position: absolute;
  background: radial-gradient(43.73% 61.9% at 49.96% 100.13%, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 480px;
  top: -300px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.white_back2
{
  position: absolute;
  background: radial-gradient(43.73% 61.9% at 49.96% 100.13%, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);

  width: 480px;
  top: -300px;
  bottom: 0;
  left: 0;
  right: 60px;
  margin: 0 auto;
}
.speakers figure{
  margin-bottom: 0!important;
}
@media (max-width: 768px) {  
  .speakers .center .label
  {

    left: -23px;
  }
  
}

</style>