<template>
  <section class="testimonials" id="aim">
    <b-container >
      <div class="title">О ПРОЕКТНОЙ ДЕЯТЕЛЬНОСТИ В МИЭМ</div>
      <b-row>
        <b-col cols=10 sm=12 md=4 lg=3 class="offset-1 offset-sm-0">
          <carousel :autoplay='true' @page-change='handle_page' :scrollPerPage='true' :perPage=1  :navigationEnabled='true' :paginationEnabled='false' navigationNextLabel='<i class="las la-chevron-right" style="font-size:24px; color:white"></i>' navigationPrevLabel='<i class="las la-chevron-left" style="font-size:24px; color:white"></i>'>
            <slide v-for="(item,index) in items" :key="index">
              <img :src="getImgUrl(index+1)" alt="">
              <div class="name">{{item.name}}</div>

            </slide>
            
            
            
          </carousel>
        </b-col>
        <b-col md=6 offset-md=2 offset-lg=3 lg=6 class="my-auto text-center text-md-left ">
            <div class="text mt-2 mt-md-0">
              {{items[num].job}}
            </div>
        </b-col>
        
      </b-row>
      <b-row>
        <b-col class="white_text">Концепция проектного обучения реализуется в институте с 2018-2019 учебного года и ее результаты уже не раз доказали важность такого подхода!</b-col>
      </b-row>
    </b-container>
  </section>
</template>
<script>

export default {
  name: "testimonials",
  data() {
    return {
      items: [{'name':'Прохорова Вероника Борисовна', 'job':'Заместитель директора: Московский институт электроники и математики им. А.Н. Тихонова', 'expert': '<p>Эксперт: Московский институт электроники и математики им. А.Н. Тихонова / Научная лаборатория Интернета вещей и киберфизических систем</p>'},{'name':'Щур Лев Николаевич', 'job':'Заведующий кафедрой, Профессор:Московский институт электроники и математики им. А.Н. Тихонова / Базовая кафедра «Прикладные информационно-коммуникационные средства и системы» ВЦ РАН', 'expert': '<p>Главный научный сотрудник:Московский институт электроники и математики им. А.Н. Тихонова / Научная лаборатория Интернета вещей и киберфизических систем</p><p>Научный руководитель образовательной программы:Суперкомпьютерное моделирование в науке и инженерии</p>'},{'name':'Ветров Владимир Алексеевич', 'job':'Советник: Московский институт электроники и математики им. А.Н. Тихонова', 'expert': ''},{'name':'Романов Виктор Владимирович', 'job':'Заместитель директора: Московский институт электроники и математики им. А.Н. Тихонова', 'expert': ''},{'name':'Абрамешин Андрей Евгеньевич', 'job':'Заместитель директора: Московский институт электроники и математики им. А.Н. Тихонова', 'expert': ''}],
      texts:['Текст 1', 'Текст2', 'Текст3'],
      num:0
    };
  },
  components: {},
  mounted() {
    console.log(this.items.length)
  },
  methods: {
     getImgUrl(id) {
      var images = require.context('../assets/testimonials', false, /\.jpg$/)
      return images('./' + id + ".jpg")
    }, 
    handle_page(num){
      this.num = num
    }
  },
  
};
</script>
<style scoped>
.testimonials
{
  background: #322D8D;
  padding-bottom: 60px;
  box-shadow: 0px 15px 25px #1D1164;
  width:100%;
  padding-top: 60px;
  position: relative;
  z-index: 10;
}
.name
{
  font-family: 'Russo One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top:10px
}
img{
  width: 100%;
  max-width: 200px;
  border-radius: 150px;
  margin: 0 auto;
  display:block
}
.text
{
  color: white;
  font-size: 24px;
  
}
.title
{
  color:white;
  margin-top: 0 !important;
}
.white_text
{
  color: white;
  font-size: 24px;
  line-height: 30px;
  margin-top: 30px;

}

</style>