<template>
  
  <div id="app">
    <Header></Header>
    <Cover> </Cover>
    <b-container>
      <div class="title">КАК ЭТО БУДЕТ?</div>
    </b-container>
    <About> </About>
    <Features> </Features>
    <b-container>
    <div class="title">ТЕХНОШОУ В ЦИФРАХ</div>
    </b-container>
    <Numbers> </Numbers>
    <b-container>
      <div class="title no_margin" id="programs">ПРОГРАММА</div>
      <div class="subtitle">На онлайн-площадке в течение единой трансляции будут собраны  лучшие студенческие программно-аппаратные и исследовательские проекты уходящего учебного года. В прямом эфире пройдут их презентации и обсуждения с экспертами.<br><br>Также открыты павильоны по основным направлениям разработок и гостиные проектов,  где можно пообщаться с проектными командами и научными руководителями.</div>
    </b-container>
    <Programs> </Programs>
    <div style="width:100%; background-color: #77767E; display:table:">
      <b-container>
        <div class="title eq_margin">КАРТА МЕРОПРИЯТИЯ</div>
      </b-container>
      <Maps></Maps>
    </div>
    <b-container>
    <div class="title">ПРОМОРОЛИКИ ПРОЕКТОВ</div>
    </b-container>
    <Promo></Promo>
    <Testimonials></Testimonials>
    <Aim></Aim>
    <Speakers></Speakers>
    <Partners></Partners>
    <End></End>
    
  </div>
</template>

<script>

import Header from './components/Header.vue'
import Cover from './components/Cover.vue'
import About from './components/About.vue'
import Features from './components/Features.vue'
import Numbers from './components/Numbers.vue'
import Programs from './components/Programs.vue'
import Promo from './components/Promo.vue'
import Testimonials from './components/Testimonials.vue'
import Aim from './components/Aim.vue'
import Speakers from './components/Speakers.vue'
import Partners from './components/Partners.vue'
import End from './components/Footer.vue'
import Maps from './components/Maps.vue'



export default {
  name: 'App',
  components: {
    
    Header, 
    Cover, 
    About, 
    Features,
    Numbers, 
    Programs, 
    Promo, 
    Testimonials, 
    Aim, 
    Speakers, 
    Partners, 
    End, 
    Maps

  },
  mounted() {
    // if (location.protocol !== 'https:') {
    //   location.replace(`https:${location.href.substring(location.protocol.length)}`);
    // }
  }
}
</script>

<style lang="scss">
.VueCarousel-slide-adjustableHeight
{
  overflow: hidden !important;
  -webkit-overflow-scrolling: hidden !important;
  max-width: 100% !important;
}
#app
{
  overflow:hidden;
}
.title{
  font-family: 'Russo One', sans-serif;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  text-transform: capitalize;
  color: #2C2C2C;
  margin: 80px 0 40px !important;
}
.title.no_margin
{
  margin-bottom: 5px !important;
}
.title.eq_margin
{
  
  margin: 0 !important;
  padding: 80px 0 !important;
  color: white;
  text-shadow: 8px 6px 0px #363290;
}
.subtitle
{
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}
.blue_block
{
  width: 100%;
  
  background: #363290;
}
.blue_block .title{
  color:white;
  margin-top:0;
  padding-top: 40px;
}
.bm-menu
{
  background-color: #363290 !important;
}
.bm-item-list
{
  min-width: 270px !important;
}
.mobile_menu li
{
  display: block;
  margin-bottom: 15px;
}
.mobile_menu li a
{
  color: white;
  margin-bottom: 15px;

}
.mobile_menu a:hover{
  color:#C5DB37;
  text-decoration: none;
}
.mobile_menu a.active
{
  color:#C5DB37
}
.bm-item-list>*
{
  display: block !important;
}
.v-collapse-content{
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    padding: 0;
}
.v-collapse-content-end {
    max-height: 5500px !important;
    height: initial;
}
@-moz-document url-prefix() {
  .maps .VueCarousel-slide-adjustableHeight {
  display: block !important;
  }
  .maps .VueCarousel-inner {
  align-items: flex-start !important;
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   .maps .VueCarousel-slide-adjustableHeight {
    display: block !important;
    }
    .maps .VueCarousel-inner {
    align-items: flex-start !important;
    }
}

.v-collapse-content-end{
    transition: max-height 0.3s ease-in;
    max-height: 500px;
}
@media (max-width: 768px) {  
  .title{
    font-size: 28px;
    line-height: 1.4;
  }
  .aim .name
  {
    font-size: 28px;
  }
  
}
</style>
